#site-footer {
	font-weight: 400;
	.h5 {
		margin-bottom: 1.5rem;
	}
	#site-footer-main {
		&.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	color: #000;
	a {
		color: theme-color("primary");
		&:hover {
			color: theme-color("primary");
		}
	}

	#menu-footer-nav {
		margin-bottom: 1.5rem;
	}

	@include media-breakpoint-down("sm"){
		.quick-links, .footer-hours, .footer-locations{
			margin-bottom: 1.5rem;
		}

		.lg-social-media {
			margin-bottom: 0;
		}
	}
	.menu-footer-nav-container {
		ul li:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	.footer-hours {
		p:not(:last-child){
			margin-bottom: 5px;
		}
	}

	#site-footer-main {
		background-color: transparent;
		color: #000;
	}
	.footer-locations {
		ul {
			list-style: none;
			padding-left: 0px;
			li:not(:last-child) {
				margin-bottom: 5px;
			}
			li a {
				color: theme-color('dark');
				&:hover {
					color: theme-color('primary');
				}
			}
		}
	}
	.quick-links {
		ul {
			list-style: none;
			padding-left: 0px;
			a {
				color: #000;
				&:hover {
					color: theme-color("primary");
				}
			}
		}
		.lg-social-media {
			display: flex;
			li {
				&:not(:last-child){
					margin-right: 15px;
				}
			}
		}
	}
	.footer-instagram-feed {
		#sb_instagram .sbi_header_img img {
			border: 1px solid theme-color('lightgrey') !important;
		}
		.sb_instagram_header {
			padding: 0 !important;
		}
	}
	#site-legal {
		font-weight: 300;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}