#site-header {
	.utility-bar {
		background-color: theme-color("secondary");
		color: #000;
		a {
			color: #000;
		}
		.lg-social-media {
			list-style: none;
			display: flex;
			margin-bottom: 0;
			padding-left: 0;
			li {
				a i:before {
					color: #000;
				}
				a i:hover {
					&:before {
						color: theme-color('primary');
					}
				}
			}
			li:not(:last-child){
				margin-right: 15px;
				
			}
		}
		.right {
			a:hover {
				color: theme-color('primary');
			}
		}
	}
	.header-main {
		padding: 1rem 0;
		.site-branding .logo {
			width: 120px;
			@include media-breakpoint-up(md){
				width: 150px;
			}
		}
	} 
	.main-navigation {
		& > .navbar .navbar-nav {
			.menu-item {
				.dropdown-menu {
					background-color: #fff;
					padding: 0;
	 				.dropdown-item {
						text-transform: none !important;
						color: theme-color("bodytext");
						padding: 10px 15px;
						&:hover {
							color: theme-color("white");
							background-color: theme-color("primary");
						}
						&.active {
							color: theme-color("white");
							background-color: theme-color("primary")
						}
					}
				}
				.nav-link {
					text-transform: none !important;
					font-size: 1rem;
					&:hover {
						color: theme-color('primary');
					}
				}
			}
		}
	}
}